@import "tailwindcss";

:root {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

h1, h2, h3, .font-heading {
  font-family: 'Outfit', sans-serif;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

body {
  @apply antialiased text-zinc-900 bg-white selection:bg-purple-100 selection:text-purple-900;
}
